* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --color-frist: #5071eb;
  --color-primary: #f6f6fa;
  --color-secound: #e7282e;
  --color-text: #111827;
  --color-pargraph: #9da6ba;
}
/* var( --color-frist) */
@font-face {
  font-family: "light";
  src: url("../fonts/alfont_com_Somar-Light.otf");
}

@font-face {
  font-family: "regular";
  src: url("../fonts/alfont_com_Somar-Regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/alfont_com_Somar-Medium.otf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/alfont_com_Somar-Bold.otf");
}
a {
  text-decoration: none;
}
body {
  direction: rtl;
  background-color: #b2bbc615;
  counter-reset: section;
  overflow-x: hidden;
}
svg.svg-inline--fa.fa-angles-right {
  background-color: white;
  padding: 0.5rem;
  box-shadow: -1px 0px 5px 2px #0000001c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

::placeholder {
  font-family: "regular";
  color: #576b74;
}

/* sidbar */
.img-logo {
  width: 50%;
}

.sidebar {
  display: block;
  margin-right: 0%;
  width: 5%;

  transition: 0.7s;
  min-height: 100vh;
  padding: 2rem 0;
  position: fixed;
  right: 0;
  z-index: 999;
  background-color: white;
}
.sidebar .nav-link {
  display: flex;
}
.sidebar span {
  display: none;
}
.sidebar.open,
.sidebar.opened {
  transition: 0.7s;
  width: 15%;
  margin-right: 0%;
  height: 100%;
  overflow-y: auto;
  background-color: white;
}
.navbar {
  background-color: white !important;
  padding: 1.2rem;
}
.sidebar.open::-webkit-scrollbar-track,
.sidebar.opened::-webkit-scrollbar-track {
  display: none;
  transition: 0.7s ease-in-out;
}
.sidebar.open::-webkit-scrollbar,
.sidebar.opened::-webkit-scrollbar {
  display: none;
  transition: 0.7s ease-in-out;
}
.sidebar.open::-webkit-scrollbar-thumb,
.sidebar.opened::-webkit-scrollbar-thumb {
  display: none;
  transition: 0.7s ease-in-out;
}
.sidebar.open:hover,
.sidebar.opened:hover {
  transition: 0.7s ease-in-out;
}
.sidebar.open:hover::-webkit-scrollbar-track,
.sidebar.opened:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  transition: 0.7s ease-in-out;
  display: block;
}
.sidebar.open:hover::-webkit-scrollbar,
.sidebar.opened:hover::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  transition: 0.7s ease-in-out;
  display: block;
}
.sidebar.open:hover::-webkit-scrollbar-thumb,
.sidebar.opened:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  transition: 0.7s ease-in-out;
  display: block;
}
.sidebar.open .image_logo .logo,
.sidebar.opened .image_logo .logo {
  width: 60%;
}
.sidebar.open .nav-pills .nav-link,
.sidebar.opened .nav-pills .nav-link {
  text-align: start;
}
.sidebar.open .nav-pills .nav-link svg.dot,
.sidebar.opened .nav-pills .nav-link svg.dot {
  color: #828c8d;
  font-size: 0.5rem;
  margin-inline-start: 1.5rem;
}
.sidebar.open .nav-pills .nav-link span,
.sidebar.opened .nav-pills .nav-link span {
  display: inline-block;
}
.sidebar.open .nav-pills .nav-link img,
.sidebar.opened .nav-pills .nav-link img {
  display: inline !important;
  margin: 0 !important;
}
.sidebar.open .nav-pills .accordion-button svg,
.sidebar.opened .nav-pills .accordion-button svg {
  display: block;
}
.sidebar .image_logo {
  width: 100%;
}
.sidebar .image_logo .logo {
  width: 100%;
  margin: 0 auto 1rem;
  display: block;
  padding: 0 1.5rem;
}
textarea {
  width: 100%;
}
.sidebar .accordion-button {
  width: 100%;
  font-family: "semibold";
  padding: 0;
}
.sidebar .accordion-button::after {
  margin-right: auto;
  margin-left: 0;
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
  filter: brightness(0) invert(1);
}
.sidebar .nav-pills {
  width: 100%;
  font-family: "semibold";
  padding: 0;
}
.sidebar .nav-pills .accordion-button {
  display: block;
}
.sidebar .nav-pills .accordion-button.collapsed {
  background-color: transparent !important;
  box-shadow: none;
}

.sidebar .nav-pills svg {
  float: right;
  font-size: 1.1rem;
  color: #828c8d;
  transform: rotate(0deg);
}
.sidebar .nav-pills .accordion-button:focus {
  border-color: unset;
  box-shadow: none;
}
.sidebar .nav-pills .accordion-button:not(.collapsed) {
  transition: 0.7s ease-in-out;
}
.sidebar .nav-pills .accordion-button:not(.collapsed)::after {
  margin-right: auto;
  margin-left: 0;
  width: 1rem;
  height: 1rem;
  background-size: 1rem;
}
.sidebar .nav-pills .nav-item {
  width: 100%;
  margin: 0.3rem 0;
  list-style: none;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

.sidebar .nav-pills .nav-item .nav-link {
  text-align: start;
  padding: 1rem 1.2rem;
  font-size: 0.85rem;
  background-color: transparent;
  margin-bottom: 0;
}
.sidebar .nav-pills .nav-item .nav-link span {
  color: var(--color-pargraph);
  margin: 0px 5%;
  font-family: "regular";
  font-size: 0.9rem;
}
.sidebar.open .nav-pills svg {
  display: block !important;
  color: #546881;
}
.sidebar .nav-pills .nav-item .nav-link img {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0 auto;
}
.sidebar .nav-pills .nav-item .nav-link.active {
  background-color: var(--color-frist);
  color: white;
}
.sidebar .nav-pills .nav-item .nav-link.active span {
  font-family: "regular";
  color: white !important;
}
.sidebar .nav-pills .nav-item .nav-link.active svg {
  color: white;
}

.sidebar.open ~ .index_cards,
.sidebar.opened ~ .index_cards {
  width: 85%;
  margin-inline-start: 15%;
  transition: 1s ease-in-out;
}

.sidebar ~ .index_cards {
  width: 100%;
  margin-inline-start: 5%;
  transition: 1s ease-in-out;
}
.ico {
  float: right !important;
  transform: unset !important;
  width: 15px !important;
  height: 15px !important;
}
.img-log {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}
.menu {
  cursor: pointer;
  color: var(--color-frist);
}
/* sidbar */
/* nav */
.logo-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo-menu h4 {
  font-family: "bold";
  font-size: 1.3rem;
  margin-bottom: 0;
}

.dropdown-toggle .profile-btn::after {
  display: block !important;
}
button#dropdownMenuButton1 {
  background-color: unset;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.all-pro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.emmil h4 {
  margin-bottom: 0;
  font-size: 1rem;
}
.emmil p {
  margin-bottom: 0;
  font-size: 0.8rem;
}
button#closeSidebarBtn {
  display: none;
}
a#notification::after {
  display: none;
}
a#notification {
  background-color: #eff0f1;
  border-radius: 50%;
  margin-left: 12px;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* nav */
/* content */
.content {
  height: auto;
  background-color: white;
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
}
.sec-content {
  height: auto;
  background-color: white;
  margin: 2rem;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 0.5rem;
}
/* dowra */
.heder {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.heder h4 {
  margin-bottom: 0;
}
.heder h4:first-child {
  background-color: #5071eb1a;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--color-frist);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heder h4:last-child {
  font-size: 1.2rem;
  font-family: "bold";
}
.tabs-language {
  margin-top: 0.9rem;
}
.tabs-language .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 2px solid var(--color-frist);
  font-family: "bold";
}
.tabs-language .nav-link {
  color: black !important;
  font-family: "regular";
}
.form-control {
  background-color: var(--color-primary);
  height: 56px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
}
.tabs-language .nav-tabs {
  width: 71%;
}
#English {
  direction: ltr;
}
.form-label {
  font-family: "medium";
  font-size: 1rem;
}
.select-main {
  margin-top: 1.4rem;
}
.form-select {
  background-color: var(--color-primary);
  height: 56px;
  padding: .7rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  background-position: left 0.75rem center !important;
  font-family: "regular";
  color: #576b74;
}
.date-main {
  margin-top: 1.4rem;
}
.radio-main {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}
.radio {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  font-family: "regular";
}
.discraption {
  padding: 0.5rem;
  border-radius: 15px;
  border-color: #b2bbc6;
  height: 110px;
}
.text-area-main {
  margin-top: 1.4rem;
}
.upload-main {
  margin-top: 1.4rem;
}
.uploadphoto {
  text-align: center;
  background-color: #5071eb0a;
  padding: 1rem;
  border: 1px dashed var(--color-frist);
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
}
.uploadphoto h4 {
  font-family: "regular";
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: var(--color-pargraph);
  margin-bottom: 0;
}
.uploadphoto span {
  color: var(--color-frist);
  cursor: pointer;
}
.Default {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
}
#videoPreview {
  width: 100% !important;
}
hr {
  height: 3px !important;
}
.form-check.form-switch {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
}
.toggle-main {
  margin-top: 1.4rem;
  font-family: "regular";
}
.toggle-main p {
  margin-bottom: 0;
  color: var(--color-pargraph);
}
input#flexSwitchCheckDefault {
  height: 25px;
  width: 3rem;
}
#videoPreview {
  width: 100%;
  height: 50vh;
  border-radius: 10px;
}
button.btn.save {
  background: var(--color-frist);
  width: 40%;
  height: 60px;
  font-family: "regular";
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: 0.7s;
  margin: 0 1rem;
}
button.btn.save:hover {
  background: white;
  color: var(--color-frist);
  border: 1px solid var(--color-frist);
}
button.btn.delelt {
  background: rgba(255, 0, 0, 0.144);
  width: 40%;
  height: 60px;
  font-family: "regular";
  color: var(--color-secound);
  border-radius: 10px;
  font-size: 1.2rem;
  transition: 0.7s;
}
button.btn.delelt:hover {
  background: red;
  color: white;
  border: 1px solid red;
}
.btn-main {
  margin-top: 1.4rem;
}
.color {
  width: 22%;
  margin-top: 1.3rem;
}
.all-sitting {
  display: flex;
  justify-content: start;
  gap: 14px;
}
.all-status {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.main-number {
  margin-top: 1.2rem;
}
.video-viwes {
  display: flex;
  gap: 80px;
}
.voise-call {
  display: flex;
  gap: 80px;
}

/* dowra */
/* add course */
.adress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adress h4 {
  font-family: "bold";
  font-size: 1.2rem;
  margin-bottom: 0;
}
.adress .btn {
 background-color: #5071EB;
 color: white;
 font-family: "medium";
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.adress .btn a{
 color: white;
}
button.btn.add {
  font-family: "regular";
  background: var(--color-frist);
  padding: 0.9rem 2rem;
  color: var(--color-primary);
  font-size: 1rem;
  font-family: "medium";
  width: 17%;
}
button.btn.add a{
color: white;
}
.add-course .filler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 1rem;
}
.add-course .filler .search {
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 10px;
  height: 43px;
  width: 29%;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-course .filler .search input {
  border: 0;
  width: 90%;
  outline: 0;
  padding: 0 0.5rem;
}
.add-course .filler .select {
  width: 20%;
}

.add-course .filler select {
  height: 43px;
  font-family: "regular";
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  width: 100%;
}
.add-course .main-date {
  height: 43px;
  font-family: "regular";
  padding: 0 0.5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.add-course .main-date input {
  border: 0;
  width: 90%;
  outline: 0;
}
.add-course table {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  overflow: scroll;
  min-width: 1000px;
}

.add-course table th {
  font-family: "medium";
  font-size: 0.8rem;
  padding: 1rem 0;
}
.add-course table td {
  font-family: "regular";
  font-size: 0.7rem;
  padding: 1rem 0; 
}
.add-course .dropdown-toggle::after {
  content: unset !important;
}
thead {
  background-color: #F5F6F7;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #F5F6F7;
}

.add-course .pagenation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.add-course .pagenation h4 {
  font-family: "regular";
  font-size: 0.9rem;
  color: #78828e;
  margin-bottom: 0;
}
.add-course .pagenation label {
  font-family: "regular";
  font-size: 0.9rem;
  color: #78828e;
  margin-bottom: 0;
}
.add-course .pagenation select {
  background-color: #e5f2fe;
}
.add-course ul.dropdown-menu.show {
  text-align: start;
}

.add-course ul.dropdown-menu.show svg {
  margin-left: 10px;
  color: #546881;
}
svg.svg-inline--fa.fa-trash-can.delelt {
  color: red !important;
}

.add-course ul.dropdown-menu.show li {
  margin-bottom: 0.5rem;
}
/* add course */
/* course details */
.img-review {
  position: relative;
}
.course-img {
  width: 100%;
}
.youtube-mian {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  background: white;
  padding: 0.5rem;
  border-radius: 0 0 11px;
}
.youtube {
  width: 40px;
  height: 40px;
  background: red;
  padding: 0.8rem;
  border-radius: 50%;
}
.text-details {
  text-align: center;
  margin-top: 0.9rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
.text-details h4 {
  font-family: "bold";
  font-size: 1.2rem;
}
.author {
  font-family: "regular";
  font-size: 0.9rem;
  color: #78828e;
}
.author span {
  color: var(--color-frist);
}
.btn-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.btn-all p {
 background-color: #5072eb25;
 padding: 0.5rem;
 border-radius: 30px;
 color: var(--color-frist);
 font-family: "regular";
 width: 35%;
}
/* course details */

/* content */
/* modal */
.modal-dialog {
  /* margin-top: 13% !important; */
  /* margin-right: 40%; */
}
.all-infor {
  text-align: center;
}
.all-infor h4 {
  font-family: "bold";
  font-size: 1.4rem;
  margin-top: 1rem;
}
.all-infor p {
  font-family: "regular";
}
.all-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-header {
  border: 0 !important;
}
.modal-footer {
  border: 0 !important;
}
.all-actions button {
  width: 100% !important;
}
button.btn.edit {
  border: 1px solid var(--color-frist) !important;
  margin-top: 1rem;
  height: 60px;
  font-family: "regular";
  border-radius: 10px;
  font-size: 1.2rem;
  color: var(--color-frist);
  transition: 0.7s;
}
.animation {
  border-radius: 50% !important;
}
/* modal */

/* responsive */
@media only screen and (max-width: 1440px) {
  html {
    font-size: 0.9rem;
  }
  .modal-dialog {
    /* margin-top: 28% !important; */
    /* margin-right: 36%; */
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1024.98px) {
  .sidebar .nav-pills .nav-item .nav-link {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .sidebar .nav-pills .nav-item .nav-link span {
    font-size: 0.6rem;
  }
  .tabs-language .nav-tabs {
    width: 73% !important;
  }
  html {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 991.98px) {
  .sidebar {
    width: 100%;
    margin-inline-start: 0%;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
    display: block;
    overflow-x: scroll;
  }
  .sidebar .logout_sidebar {
    display: block;
  }
  .sidebar .nav-pills {
    width: 30%;
    background-color: #fff;
    padding: 2rem 1rem;
  }
  .sidebar .nav-pills .nav-item .nav-link.active span,
  .sidebar .nav-pills .nav-item .nav-link span {
    color: #9da6ba;
    display: block;
  }
  .sidebar .nav-pills .nav-link {
    display: flex;
    align-items: center;
    text-align: start;
  }
  .sidebar .nav-pills .nav-link img {
    margin: 0 !important;
  }
  .sidebar .nav-pills .nav-link span {
    display: block;
    margin: 0 !important;
    margin-inline-start: 1rem !important;
  }
  .sidebar .side_mobile {
    width: 60%;
    height: 100%;
    min-height: 100vh;
  }
  .sidebar.open,
  .sidebar.opened {
    width: 0;
  }
  .sidebar ~ .index_cards,
  .sidebar.open ~ .index_cards,
  .sidebar.opened ~ .index_cards {
    width: 100%;
    margin-inline-start: 0%;
    transition: 1s ease-in-out;
  }
  html {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 768.98px) {
  .sidebar .nav-pills {
    width: 50%;
    height: 100vh;
    overflow-x: scroll;
    display: block;
  }
  .img-log {
    margin: 0;
  }
  .sidebar .nav-pills .nav-item .nav-link.active span,
  .sidebar .nav-pills .nav-item .nav-link span {
    width: 78px;
  }

  .sidebar {
    display: block;
    height: 100vh;
    overflow-x: scroll;
  }
  #closeSidebarBtn {
    display: block;
    margin-inline-start: auto;
    background-color: var(--color-frist);
    border: 1px solid var(--color-frist);
    color: white !important;
    padding: 0.5rem;
    border-radius: 10px;
  }
  #closeSidebarBtn svg {
    color: white !important;
  }
  html {
    font-size: 0.8rem;
  }
  button#closeSidebarBtn {
    display: block;
  }
  .modal-dialog {
    margin-top: 35% !important;
    margin-right: 17%;
  }
  .add-course .filler {
    flex-wrap: wrap;
  }
  .add-course .filler .search {
    width: 100%;
  }
  .add-course .filler .select {
    width: 100%;
  }
  .add-course .filler select {
    width: 100%;
  }
  .add-course .main-date {
    width: 100%;
  }
  .img-review {
    width: 50%;
    margin: 0 auto;
}
}

@media only screen and (max-width: 425px) {
  .sidebar {
    display: block;
    height: 100vh;
    overflow-x: scroll;
  }

  .sidebar .nav-pills {
    width: 50%;
  }
  .img-log {
    margin: 0;
  }
  .sidebar .nav-pills svg {
    display: block !important;
  }
  .sidebar .nav-pills .nav-item .nav-link.active span,
  .sidebar .nav-pills .nav-item .nav-link span {
    width: 78px;
  }

  #closeSidebarBtn {
    display: block;
    margin-inline-start: auto;
    background-color: var(--color-frist);
    border: 1px solid var(--color-frist);
    color: white !important;
    padding: 0.5rem;
    border-radius: 10px;
  }
  #closeSidebarBtn svg {
    color: white !important;
  }
  button#closeSidebarBtn {
    display: block;
  }

  html {
    font-size: 0.8rem !important;
  }
  .navbar {
    flex-wrap: nowrap !important;
  }
  .logo-menu h4 {
    font-size: 0.8rem;
  }
  input#flexSwitchCheckDefault {
    height: 22px;
    width: 90px;
  }
  .all-sitting {
    flex-wrap: wrap;
  }
  .all-status {
    flex-wrap: wrap;
  }
  .video-viwes {
    flex-wrap: wrap;
  }
  .voise-call {
    flex-wrap: wrap;
  }
  button.btn.save {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  button.btn.delelt {
    width: 100%;
  }
  .color {
    width: 100%;
  }
  .tabs-language .nav-tabs {
    width: 74% !important;
  }
  .modal-dialog {
    margin-top: 69% !important;
    margin-right: 2% !important;
  }
  .add-course .filler {
    flex-wrap: wrap;
  }
  .add-course .filler .search {
    width: 100%;
  }
  .add-course .filler .select {
    width: 100%;
  }
  .add-course .filler select {
    width: 100%;
  }
  .add-course .main-date {
    width: 100%;
  }
}

/* responsive */
